body
{
	background-color: black
}

h4
{
	text-align: center;
	margin-bottom: -4px;
}
h4
{
	text-align: center;
	font-size: 7;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #ff8821;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

h5
{
	font-style: italic;
	font-size: 12;
	position: absolute;
  	top: 500px;
  	width: 100px;
  	right: 0px;
  	left: 220px;
  	height: 200px;
  	color: black;
}