body
{
	background-color: #E0FFFF
}
p
{
	font-family: Helvetica;
	margin-top: -18px;
	text-align: center;
}

ul 
{
  list-style-type: square;
  margin: 0;
  padding: 0;
}

h1
{
	text-align: center;
	margin-bottom: -4px;
}
h5
{
	font-size: 12;
	text-align: center;

}
h4
{
	text-align: center;
	font-size: 7;
}
#left 
{
    width: 200px;
    float: left;
}

#right 
{
    margin-left: 200px;
}
.section_header
{
	font-style: bold;
	color: black;
	font-size: 9;
	font-family: Lucida Sans;
	margin-left: 70px;
	border-style: ridge;
}
.expname
{
	text-align: center;
	font-style: bold;
	margin-bottom: -18px;
}